.hero-white-bg {
  background-color: #fff;
  height: 278px;
}

.card {
  border: 1px solid transparent;
}

.card-grid{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  margin: 40px 0 -217px 0;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .card-grid{
    width: 80%;
  }
}

.card-grid .card{
  list-style: none;
  position: relative;
  background:#fff0
}

.card-grid .card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: 0;
  bottom: 0;
  color:#000;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background ,.card:hover .bg_1{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  opacity:0.5;
}
.card-grid:hover > .card:not(:hover) .card__content{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  opacity:0.5;
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 50%;
    margin-top: -50%;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  font-family: 'Roboto', sans-serif;
}
.trt-ecosystem--title{
  font-family: "Roboto Slab", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  font-family: "Roboto Slab", sans-serif;
}

.bg_1{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url('../../../public/img/hero4.jpg');
}
.bg_2{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url('../../../public/img/hero1.jpg');
}
.bg_3{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url('../../../public/img/hero3.jpg');
}
.bg_4{
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url('../../../public/img/hero2.jpg');
}
