
.LitePaper-section-title {
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 36px;
}
.address {
  font-size: 20px;
}
.download-file{
  color:#fff !important;
  font-size:1.2rem;

}
.download-file:hover{
  text-decoration: none;


}
