/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  background-color: rgba(128,128,128,0);
  height:140px;
}

#toggler {
  display: none !important;
}

/* Style the navbar links */
#navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  max-width: 173px;
  color: #fff !important;
}
#navbar.scrolling  a {
  font-size: 15px;
}
#navbar.scrolling   {
  box-shadow:0px 4px 19px 0px #574e53;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  display: none;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
//  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}
.scrolling #navbar-right {
  margin-right:35px;
}

.header {
  display: none;
}

.mobile-nav {
  display: none;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  .mobile-nav {
    display: flex;
    background:#000;
    position:fixed;
    top:0;
    width:100%;
    height: 80px;
    z-index:800;

  }
  .header {
    display: flex;
  }
  #navbar {
    display: none;
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
  #toggler {
    display: block !important;
  }
}


div.highlightTextOut a:before, div.highlightTextIn
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
}

div.tab-container a {
  text-decoration: none;
  font: 20px;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #000;
  opacity:1;
  font-size: 1.2em;
  font-weight: 400;
  transition: 200ms;
}
.nav-link:hover {
  color: #000 !important;
}
.menu-list {
  padding: 0;
  list-style-type: none;
  line-height:23px;
}



// .container {
//   margin-top: 50px;
//   Display: flex;
//   justify-content: center;
//   align-items: center;
// }
.phone {
  background-color: #36383F;
  border-radius: 40px;
  width: 300px;
  height: 600px;
  Display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #85888C;
}
.content {
  border: 1px solid #36383F;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #F5F6FA;
  overflow: hidden;
}
nav {
  height: 65px;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40px;
  right: 25px;
  z-index: 801;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  width: 70vw;
  height: 120vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -200px;
  padding: 50px;
  padding-top: 75px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(+100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
#navbar-right .dropdown-item:focus, #navbar-right .dropdown-item:hover {
    background-color: #fff0 !important;
}
#navbar-right .dropdown-item{
  padding: 0px !important;
    text-align: left;
}
#navbar-right .dropdown-menu.show{
  background:#fff0;
}
#navbar-right .btn-secondary{

  text-transform: uppercase;
    background: #fff0;
    border: none;
    box-shadow: none !important;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
}
