.tokenomics {
  margin-top: 24px;
  margin-bottom: 74px;
}

.tokenomics-title {
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: -17px;
  margin-bottom: 36px;
}

.tokenomics-text-main {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFFE5;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.tokenomics-list {
  list-style: none;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFFE5;
}
 .tokenomics-block:before,  .tokenomics-block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #0000ff, #8104c3, #bb277b, #452ffa, #2770fc);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}
.tokenomics-relative{
  position: relative;
    background: black;
    padding: 20px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

 .tokenomics-block:after {
 filter: blur(50px);
}
