.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}
.contact_us_container {
  max-width: 500px;
  margin:auto;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff0 !important;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  border-bottom: 2px solid #fff;
  color:#fff;
}
.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition:
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #FFF;
}
.custom-field.two input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background:
    linear-gradient(90deg, #fff, #fff) center bottom/0 0.15em no-repeat,
    linear-gradient(90deg, #fff, #fff) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fff, #fff) left bottom/100% no-repeat;
  transition: background-size 0.3s ease;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}
.submit {
  padding:10px 20px;
  border:2px solid #fff;
  width: fit-content;
    margin: auto;
    cursor: pointer;
}
.error{
  color:#ff3333
}
.sucsess {
  color:#198754
}
@media screen and (max-width: 580px) {
.tokenomics-relative {
  padding:20px 0;
}
}
