footer {
  margin-top: 67px;
}

footer small {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}

.logo-footer {
  margin-bottom: 15px;
}
.footer-social{
  display: flex;
    justify-content: center;
    margin: 10px;
}
.fa-telegram{
font-size: 19px;
}
